@tailwind base;
@tailwind components;
@tailwind utilities;

/* 强制所有根容器占据 100% 屏幕，不留白边 */
html, body, #root {
  height: 100vh !important;
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden; /* 防止出现奇怪的滚动条 */
  background-color: #000;
}